section#footer
	height: 120px
	background: #2b2b2b
	text-align: center
	padding: 2rem
	box-sizing: border-box

	p
		color: #fff
		font-family: Lato, sans-serif
		font-weight: 300
		font-size: 1.2em

		