
- var about = {'title': 'About'}
- var service = {'title': 'Service'}
- var value = {'title': 'Value'}
- var portfolio = {'title': 'Portfolio'}
- var me = {'title': 'Me'}
- var contact = {'title': 'Contact'}

- var links = [about, service, value, portfolio, me, contact]

#project-logo
#nav
	each link in links
		if (link.title === 'About')
			a(href="##{link.title.toLowerCase()}", class="active") #{link.title}
		else
			a(href="##{link.title.toLowerCase()}") #{link.title}