
- var about = {'title': 'About'}
- var service = {'title': 'Service'}
- var value = {'title': 'Value'}
- var portfolio = {'title': 'Portfolio'}
- var me = {'title': 'Me'}
- var contact = {'title': 'Contact'}

- var links = [about, service, value, portfolio, me, contact]

#project-logo
#nav
	each link in links
		a(data-nav-target="#{link.title.toLowerCase()}" href="#") #{link.title}