section#ui-design
	.title
		h3.white-title user interface design
	p UI design is a branch of art arisen in the middle of XX century
	p Some argue that it deliveres true art to everyone's displays
	p But it is just a never-ending path to perfection