section#ux-engineering
	.title
		h3.grey-title user experience engineering
	.container
		.one-half
			p To engineer a great user experience I look into your market area and analyse competitors and their solutions, run usability tests and seek for the best navigation and interaction practices.
		.one-half
			p While engineering UX strategy it's better to stay away from design insights and technology boundaries. What is really important on this stage is understanding of the users' psychology.