.container
	width: 1100px
	margin: 3rem auto
	
	.row
		clearfix()
		margin-bottom: 1rem
		
		&:nth-last-child(1)
			margin-bottom: 0

	.item
		width: 32%
		float: left
		box-sizing: border-box
		margin-right: 2%
		height: 240px
		position: relative
		overflow: hidden

		&:nth-last-child(1)
			margin-right: 0

	img
		width: 100%
		height: auto
		transform: scale(1)
		transition: all 200ms ease-out
		position: relative

		&.hovered
			transform: scale(1.1)
			
	.overlay
		opacity: 0
		visibility: hidden
		background rgba($red, .75)
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		text-align: center
		transition: all 200ms ease-out
		z-index: 1
		
		&.show
			opacity: 1
			visibility: visible
		
		button, p
			margin: 0
			font-family: Lato, sans-serif
			font-weight: 700

		p
			margin-top: 3.5srem
			font-size: 1.3em
			color: #fff

		button // 'take a look' button
			$shadow-btn()
			margin-top: 3.5rem
			font-size: 1.1em
			background: rgba(#fff, .8)
			transition: background 200ms ease
			&:hover
				color: #333
				box-shadow: 0 .25rem 0 #333
				background: rgba(#fff, 1)
			&:focus
				box-shadow: none