footer
	height: 350px
	background-image: url('/assets/images/bg/design-tools.jpg')
	text-align: center

	blockquote, p
		margin: 0
		color: #fff
		
	blockquote, p
		font-family: Lato, sans-serif
		font-size: 1.6em
		font-weight: 300
		padding: 0 2rem

	.title
		padding: 6rem 0 2.5rem

	@media screen and (max-width: 990px)
		.title
			padding: 5.5rem 0 2rem

	@media screen and (max-width: 990px)
		.title
			padding: 3.5rem 0 2rem

	@media screen and (max-width: 555px)
		.title
			padding: 2.5rem 0 2rem