.modal
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	z-index: 2
	pointer-events: none
	
	&.show-modal
		overflow-y: auto
		overflow-x: hidden
		background: rgba(#000, .5)
		pointer-events: auto
		
		.modal-window
			opacity: 1
			transform: translateY(0)

	.modal-window
		opacity: 0
		transform: translateY(-2rem)
		transition: all 300ms ease-out
		position: absolute
		width: 600px
		left: 50%
		margin-left: -(300px)
		top: 3rem
		background: #fff
		box-sizing: border-box
		box-shadow: 0 0 2rem rgba($blacky, .33)
		border-radius: .25rem
		
		.header
			background: linear-gradient($blue, darken($blue, 10%))
			border-bottom: 1px solid rgba(#333, .2)
			clearfix()
			padding: 1rem
			border-radius: .25rem .25rem 0 0
			
			p // title
				margin: 0
				float: left
				color: #fff
				font-family: Lato
				font-weight: 400
				font-size: 1.25em
				line-height: 2

			.modal-close // button
				float: right
				$shadow-btn()
				&:hover
					color: darken($blue, 40%)
					box-shadow: 0 .25rem 0 darken($blue, 40%)
				&:focus
					box-shadow: none

		.image
			padding: 1rem

		img
			width: 100%
			height: auto

		.article
			padding: 0 2rem 1rem
			p
				color: #444
				font-size: 1.15em
				line-height: 1.7