section#front-end-sol
	.title
		h3.grey-title front-end solutions
	.container
		p To build scalable and maintainable front-end I use a dozen of good tried and true principles
		p Preprocessors, modular architecture, semantical class naming and circumspect file structure. I totally avoid spaghetti code and strive to make my code as much object-oriented as possible. Documentation will be provided, if agreed, so to assure quick code understanding by other developers

	.title
		h3.grey-title across all devices
	.container
		.left 
			img(src="/assets/images/user-experience-as-an-art.png", alt="")
		.right
			p How to keep your product usable across all screen sizes, devices and operating systems?
			p I make sure to test all required devices and OS when making a prototype to guarantee smooth representation and usability of your product.