section#think
	.one-third
		i.icon.icon-think
		.title
			h3 Think
		p Prior to every step in development there should be a UX analysis phase. The scale of UX analysis shall be in accordance with the importance of the next step. In the era of Agile and quick development iterations, we want to launch product ASAP and a quick and well-performed UX analysis will indeed shorten the path to successful implementation. That's why I make user experience analysis before the design and prototyping stage.
	.one-third
		i.icon.icon-design
		.title
			h3 Design
		p In design stage I start with low-fidelity sketches and make my way to pixel perfect prototypes. In some projects grayscale wireframe is enough to start development, yet sometimes highly realistic prototype is needed to test user scenarios and satisfaction. Design principles should be product-wide and design techniques must correlate with UX logic.
	.one-third
		i.icon.icon-code
		.title
			h3 Code
		p If your project needs an interactive html prototype, I'll produce it with high-quality and great respect to your frameworks (or I'll build a custom framework based on the needs of your project). I make front-end code usable for the further development and highly modular and maintainable. I adhere to clean and semantic front-end principles from the very start.