section#ux-engineering
	padding: 2rem 0 3rem
		
	.title
		margin: 2rem 0

	.container
		width: 60%
		margin: 0 auto
		clearfix()

		.one-half
			width: 49%
			float: left
			padding: 0 1rem
			box-sizing: border-box
			&:nth-child(1)
				margin-right: 2%
				
			p
				color: #555
				line-height: 1.75
				
	@media screen and (max-width: 980px)
		.container
			width: 80%

			.one-half
				width: 100%
				&:nth-child(1)
					margin-right: 0