section#think
	background: #f5f5f5
	border-bottom: 1px solid #aaa
	padding: 2rem 0 1.5rem
	position: relative
	clearfix()
	
	.one-third
		width: 32.666666%
		float: left
		box-sizing: border-box
		text-align: center
		margin-right: 1%
		padding: 1.5rem 2.5rem 2.5rem
		
		&:nth-last-child(1)
			margin-right: 0
			
		h3, p
			margin: 0
			color: #555
			
		h3
			font-family: Raleway
			font-weight: 300
			font-size: 1.9em
			text-transform: uppercase
			margin-bottom: 1.5rem
			
		p
			letter-spacing: 1px
			line-height: 1.8
			
	@media screen and (max-width: 1100px)
		padding: 3rem 0
		.one-third
			width: 100%
			float: none
			margin: 0
			padding: 0 10%
			margin-bottom: 3rem
			&:nth-last-child(1)
				margin-bottom: 0