section#front-end-sol
	padding: 3rem 0 3.5rem
		
	.title
		margin-bottom: 2rem

	.container
		clearfix()
		width: 42%
		margin: 0 auto
		padding: 0 2rem

		&:nth-child(1)
			margin-bottom: 3rem
			
	.left
		float: left
		width: 58%
		margin-right: 4%
		
	.right
		float: left
		width: 38%
		padding: 0 1rem
		box-sizing: border-box

	img, p
		margin: 0
		
	p
		text-align: left
		color: #555
		font-size: 1.1em
		line-height: 1.5
		margin-bottom: 2rem

	img
		width: 100%
		height: auto
		
	@media screen and (max-width: 1250px)
		padding-top: 2rem
		.container
			width: 50%

	@media screen and (max-width: 1100px)
		padding-top: 1.5rem
		.container
			width: 60%

	@media screen and (max-width: 980px)
		.container
			width: 70%

	@media screen and (max-width: 900px)
		.container
			width: 80%

	@media screen and (max-width: 700px)
		padding-top: .5rem
		.left, .right
			width: 100%
			float: none

		.container
			margin-bottom: 3rem
			&:nth-last-child(1)
				margin-bottom: 0
			
			
		img
			margin-bottom: 3rem

		p
			&:nth-last-child(1)
				margin-bottom: 0