section#challenge
	.title
		h3 give me a challenge
	.container
		.group
			h3.group-title Contact Information
			ul
				li Vanemuise 69a, Tallinn, Estonia
				li +372 569 22 863 
				li 
					a(href="") leo@uxleo.com 
				li
					a(href="") CV
				li
					a(href="") pinterest/drozzdoff
		.group
			h3.group-title Legal details
			ul
				li Digiars Stuudio OÜ
				li registration number: 12297175
				li account in Swedbank: 221055245343 
				li IBAN: EE482200221055245343 
				li SWIFT: HABAEE2X
		.group
			h3.group-title Interesting think
			blockquote Simple design, intense content
			p — Edward Tufte, 2004