section#front-end-sol
	.inner
		.container
			h3 front-end solutions
			p To build scalable and maintainable front-end I use a dozen of good tried and true principles
			p Preprocessors, modular architecture, semantical class naming and circumspect file structure. I totally avoid spaghetti code and strive to make my code as much object-oriented as possible. Documentation will be provided, if agreed, so to assure quick code understanding by other developers

		.container
			.title
				h3 across all devices
			.left 
				img(src="/assets/images/user-experience-as-an-art.png", alt="")
			.right
				p How to keep your product usable across all screen sizes, devices and operating systems?
				p I make sure to test all required devices and OS when making a prototype to guarantee smooth representation and usability of your product.