meta(charset="utf-8")
<<<<<<< HEAD
//- title uxleo − user experience engineering, user interface design, usability in Estonia
title uxleo DEV

link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:300,700")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700")
=======
title Document

link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:300,700")
>>>>>>> 153d0dffc63b180f5c392aafdebf31681502af21

link(rel="stylesheet", href="assets/css/vendor.css")
link(rel="stylesheet", href="assets/css/app.css")