meta(charset="utf-8")

title uxleo − user experience engineering, user interface design, usability in Estonia

meta(content='Leonid Drozdov | uxleo.com & uxleo.ru', name='author')
meta(content='User experience and user interface design for your product. Professional user experience engineering, usability testing, front-end soulutions, prototyping. Building user friendly interfaces.', name='description')
meta(content='ui / ux design, user interface design, user experience engineering, usability testing, front-end solutions, order axure prototype, axure prototyping, user experience Tallinn, user experience Estonia', name='keywords')

meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")

link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:300,700")
link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700")

link(rel="stylesheet", href="assets/css/vendor.css")
link(rel="stylesheet", href="assets/css/app.css")

link(href="assets/images/favicon_cursor.png", rel="shortcut icon")