section#nav-bar
	.nav-bar-inner
		#logo
		#navigation
			a(href="about", class="active") About
			a(href="service") Service
			a(href="value") Value
			a(href="portfolio") Portfolio
			a(href="me") Me
			a(href="contact") Contact