section#persona
	header
		h3 great tools for great design
		blockquote We become what we behold. We shape our tools, and thereafter our tools shape us
		p ― Marshall McLuhan

	.container
		.title
			h3 personally speaking
		.left
			.photo
			p.name Leonid Drozdov
			p.small ux / ui / front-end
		.right
			h3 my UX passion
			p After five years of experience in various web projects, I realized that great interfaces get born on the intersection of three fundamental disciplines. Theory of art, cognitive science and math. Cognitive science is needed to predict and operate with user behavior. Art laws are universally true in user interface elements designing. And math is all about beautiful code.
			p My mission in uxleo is to convert business requirements into great looking user interfaces.
			a(href="") Contact