section#portfolio
	header
		h3 Portfolio

	.container
		.row
			.item
				.overlay
					p User Analysis
					button Take a look
				img(src="/assets/images/portfolio/ux-journey.jpg", alt="")
			.item
				.overlay
					p low-fi Wireframes
					button Take a look
				img(src="/assets/images/portfolio/ux-wireframes.jpg", alt="")
			.item
				.overlay
					p high-fi Prototypes
					button Take a look
				img(src="/assets/images/portfolio/ux-prototypes.jpg", alt="")
		.row
			.item
				.overlay
					p Finest UI
					button Take a look
				img(src="/assets/images/portfolio/finest-ui.jpg", alt="")
			.item
				.overlay
					p Mobile First, please
					button Take a look
				img(src="/assets/images/portfolio/mobile-ux-design.jpg", alt="")
			.item
				.overlay
					p Websites need UX too
					button Take a look
				img(src="/assets/images/portfolio/user-experience-for-websites.jpg", alt="")