section#welcome
	#welcome-inner
<<<<<<< HEAD
		img(src="/assets/images/logo/uxleo_logo.png", alt="UX Leo")
=======
		img(src="assets/images/logo/uxleo_logo.png", alt="UX Leo")
>>>>>>> 153d0dffc63b180f5c392aafdebf31681502af21
		h1 Because Interfaces must be User Friendly
		a(href="") contact us