t()
	background: rgba(hotpink, .5)
	
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both
		
$shadow-btn()
	font-family: Raleway, sans-serif
	font-weight: 500
	background: #fff
	font-size: 1.25em
	padding: .5rem 1rem
	box-shadow: 0 .25rem 0 #333
	color: #333
	&:hover
		color: $red
		box-shadow: 0 .25rem 0 $red
	&:focus
		box-shadow: none
		transform: translateY(.25rem)