doctype
html
	head
		include modules/head

	body
		include modules/nav-bar
		include modules/welcome
		include modules/think
		include modules/ux-engineering
		include modules/ui-design
		include modules/front-end-sol
		include modules/portfolio
		include modules/persona
		include modules/tallinn
		include modules/challenge

		include modules/scripts