doctype
html
	head
		include modules/head

	body
		include modules/nav-bar
		include modules/welcome
		include modules/think
<<<<<<< HEAD
		include modules/ux-engineering
		include modules/ui-design
		include modules/front-end-sol
		include modules/portfolio
		include modules/persona
		include modules/tallinn
		include modules/challenge
		include modules/footer
=======
>>>>>>> 153d0dffc63b180f5c392aafdebf31681502af21

		include modules/scripts