doctype
html
	head
		include modules/head

	body
		include modules/navigation/module
		include modules/about/module
		include modules/service/module
		include modules/value/module
		include modules/portfolio/module
		include modules/me/module
		include modules/contact/module
		include modules/footer/module

		include modules/scripts