.mobile &
	position: fixed
	left: 0
	right: 0
	height: $nav-bar-height
	background: linear-gradient(#222, darken(#222, 10%))
	border-bottom: 1px solid $blacky
	z-index: 2
	padding: 0 .5rem

	#project-logo
		float: right

	#nav
		visibility: hidden
		opacity: 0
		transform: translateX(2rem)
		height: auto
		float: none
		position: absolute
		top: 51px
		left: 0
		right: 0
		background: darken(#222, 10%)
		overflow: hidden
		transition: all 300ms ease
		
		&.show-nav
			opacity: 1
			visibility: visible
			transform: translateX(0)
		
		a
			font-size: 1.75em
			font-weight: 300
			width: 100%
			height: auto
			line-height: auto
			padding: 0
			color: #999
			text-align: center
			text-decoration: none
			display: block
			float: none
			transition: all 200ms ease-out
			&:hover
				color: #eee
				text-shadow: none
			&.active
			&:active
				background-color: rgba($blacky, .9)
				color: #eee