&
	position: fixed
	left: 0
	right: 0
	height: $nav-bar-height
	background: rgba(#222, .9)
	border-bottom: 1px solid $blacky
	z-index: 2
	padding: 0 20%
			
	#project-logo
		float: left
		background: url('/assets/icons/logo.svg') no-repeat
		background-size: contain
		width: 4rem
		height: 1.5rem
		margin-top: .9rem

	#nav
		height: 100%
		float: left
		
		a
			height: $nav-bar-height
			line-height: ($nav-bar-height + 3)
			padding: 0 1rem
			color: #999
			text-decoration: none
			display: block
			float: left
			transition: all 200ms ease-out
			outline: none
			&:hover
				color: #eee
				text-shadow: 0 0 .33rem rgba(#eee, .33)
			&.active
			&:active
				background-color: rgba($blacky, .9)
				color: #eee
				
	@media screen and (max-width: 1250px)
		padding: 0 15%
		
	@media screen and (max-width: 1000px)
		padding: 0 10%
