body
a
form
button
	font-family: Alegreya Sans, sans-serif
	font-size: 1em/1.5
	font-weight 500
	
blockquote
	&:before
		content: '“'
	&:after
		content '”'
		
body.no-scroll
	overflow: hidden
	
button
	background: transparent
	border: none
	outline: none