body
a
form
button
	font-family: Alegreya Sans, sans-serif
	font-size: 1em/1.5
	font-weight 500
	
blockquote
	&:before
		content: '“'
	&:after
		content '”'
		
body.no-scroll
	//

button
	background: transparent
	border: none
	outline: none
	
::selection
	background: #16a085
	color: #a4003a

.icon
.icon-small
	display: inline-block

.icon
	margin-bottom: 1rem
	$square(3rem)
	transition: all 500ms cubic-bezier(0.76, 0.04, 0, 1.36)
	&:hover
		transform: rotate(360deg) scale(1.4)
	$put-icon("think")
	$put-icon("code")
	$put-icon("design")
.icon-small
	$square(1.3rem)
	margin: 0 .5rem -.3rem 0
	$put-icon("mail")
	$put-icon("cv")
	$put-icon("home")
	$put-icon("pinterest")
	$put-icon("telephone")