section#front-end-sol
	padding: 4rem 0 3rem

	.inner
		width: 740px
		margin: 0 auto
		
	.container
		text-align: center
		clearfix()

		&:nth-child(1)
			margin-bottom: 3rem
			
	.left
		float: left
		width: 60%
		
	.right
		float: right
		width: 40%
		padding: 0 1rem
		box-sizing: border-box

	img, h3, p
		margin: 0
		
	h3
		font-family: Raleway, sans-serif
		font-size: 1.9em
		font-weight: 300
		color: #555
		letter-spacing: 1px
		text-transform: uppercase
		border-bottom: 2px solid #ccc
		padding-bottom: .9rem
		margin-bottom: 2.5rem
		display: inline-block
		
	p
		text-align: left
		color: #555
		font-size: 1.1em
		line-height: 1.5
		margin-bottom: 2rem