section#think
	background: #eee
	border-bottom: 1px solid #aaa
	padding: 2rem 0 1.5rem
	position: relative
	z-index: 1
	clearfix()
	
	.one-third
		width: 32.666666%
		float: left
		box-sizing: border-box
		text-align: center
		margin-right: 1%
		padding: 1.5rem 2rem 2.5rem
		
		&:nth-last-child(1)
			margin-right: 0
			
		h3, p
			margin: 0
			color: #555
			
		h3
			font-family: Raleway
			font-weight: 300
			font-size: 2em
			text-transform: uppercase
			margin-bottom: 1.5rem
			
		p
			letter-spacing: 1px
			line-height: 1.8