section#welcome
	width: 100%
	height: 550px
	background-image: url('/assets/images/bg/ui-gray.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center center
	background-attachment: fixed
	margin-top: $nav-bar-height
	
	#welcome-inner
		width: 100%
		position: absolute
		top: 50%
		margin-top: -($welcome-inner-height/2)
		text-align: center
		
	h1
		color: #fff
		text-shadow: 3px 1px 2px rgba(0, 0, 0, .75)
		letter-spacing: 3px
		font-size: 2.5em
		font-weight: 400
		margin-bottom: 3rem
		
	a
		font-family: Raleway, sans-serif
		font-weight: 700
		text-transform: uppercase
		text-decoration: none
		color: $red
		background: #eee
		font-size: 1.25em
		padding: .5rem 1rem
		box-shadow: 0 .25rem 0 #333
		color: #333
		&:hover
			color: $red
			box-shadow: 0 .25rem 0 $red