section#challenge
	margin-bottom: 3rem
			
	.container
		width: 1160px
		margin: 0 auto
		clearfix()
		
	.group
		width: 32.666666%
		float: left
		box-sizing: border-box
		margin-right: 1%
		&:nth-last-child(1)
			margin-right: 0

		h3.group-title
			font-family: Raleway, sans-serif
			font-size: 1.6em
			font-weight: 300
			
		ul
			list-style: none
			padding: 0
			li, a
				font-weight: 400
				color: #333
				font-size: 1.1em
				line-height: 1.5