section#tallinn
	height: 430px
	background-image: url('/assets/images/bg/magical_tallinn.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	text-align: center
	
	h3
		font-family: Raleway, sans-serif
		font-size: 2.5em
		font-weight: 300
		color: #fff
		letter-spacing: 1px
		text-transform: uppercase
		border-bottom: 2px solid #fff
		padding-bottom: .9rem
		margin-top: 6rem
		display: inline-block
		
	p, a
		font-family: Lato, sans-serif
		color: #fff
		font-size: 1.5em
		font-weight: 300
		margin-top: 0