section#tallinn
	height: 430px
	background-image: url('/assets/images/bg/magical_tallinn.jpg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	text-align: center
		
	p, a
		font-family: Lato, sans-serif
		color: #fff
		font-size: 1.5em
		font-weight: 300
		margin-top: 0