.container
	.row
		.item
			.overlay
				p User Analysis
				button(data-outlet="user-analysis") Take a look
			img(src="/assets/images/portfolio/ux-journey.jpg", alt="")
		.item
			.overlay
				p low-fi Wireframes
				button(data-outlet="low-fi-wireframes") Take a look
			img(src="/assets/images/portfolio/ux-wireframes.jpg", alt="")
		.item
			.overlay
				p high-fi Prototypes
				button(data-outlet="high-fi-prototypes") Take a look
			img(src="/assets/images/portfolio/ux-prototypes.jpg", alt="")
	.row
		.item
			.overlay
				p Finest UI
				button(data-outlet="finest-ui") Take a look
			img(src="/assets/images/portfolio/finest-ui.jpg", alt="")
		.item
			.overlay
				p Mobile First, please
				button(data-outlet="mobile-first") Take a look
			img(src="/assets/images/portfolio/mobile-ux-design.jpg", alt="")
		.item
			.overlay
				p Websites need UX too
				button(data-outlet="websites-need-ux") Take a look
			img(src="/assets/images/portfolio/user-experience-for-websites.jpg", alt="")