- var userAnalysis = {'outlet': 'user-analysis', 'title': 'Know your users before launch', 'src': '/assets/images/portfolio/ux-journey.jpg', 'content': 'Software has to meet human needs. I analyse target audience and ensure that your feature list suits their behaviour'}

- var lowFiWireframes = {'outlet': 'low-fi-wireframes', 'title': 'Conceptualize before you go', 'src': '/assets/images/portfolio/ux-wireframes.jpg', 'content': 'I prepare dozens of wireframes and think long and hard to find the best solution. This is strategical and perhaps the most important phase of design'}

- var highFiPrototypes = {'outlet': 'high-fi-prototypes', 'title': 'Test on real users', 'src': '/assets/images/portfolio/ux-prototypes.jpg', 'content': 'I produce high-fidelity prototypes to test main software interactions before coding. This significantly saves development time as well'}

- var finestUi = {'outlet': 'finest-ui', 'title': 'A visual layer above UX', 'src': '/assets/images/portfolio/finest-ui.jpg', 'content': 'I design visual appearance with tremendous attention to colors, typography and general aesthetic principles. Well documented styleguides are also available on demand'}

- var mobileFirst = {'outlet': 'mobile-first', 'title': 'Mobile First Design and UX', 'src': '/assets/images/portfolio/mobile-ux-design.jpg', 'content': "Mobile users will dominate in next few years. Let's get in touch and create best mobile experience now"}

- var websitesNeedUx = {'outlet': 'websites-need-ux', 'title': 'Websites need UX too', 'src': '/assets/images/portfolio/user-experience-for-websites.jpg', 'content': "Even for a 'regular' webpage, you cannot skip UX analysis and wireframing stage. Landing pages with well-executed UX lead to better conversion rates"}

- var modals = [userAnalysis, lowFiWireframes, highFiPrototypes, finestUi, mobileFirst, websitesNeedUx]