- var userAnalysis = {'outlet': 'user-analysis', 'itemTitle': 'User Analysis', 'modalTitle': 'Know your users before launch', 'src': '/assets/images/portfolio/ux-journey.jpg', 'article': 'Software has to meet human needs. I analyse target audience and ensure that your feature list suits their behaviour'}

- var lowFiWireframes = {'outlet': 'low-fi-wireframes', 'itemTitle': 'low-fi Wireframes', 'modalTitle': 'Conceptualize before you go', 'src': '/assets/images/portfolio/ux-wireframes.jpg', 'article': 'I prepare dozens of wireframes and think long and hard to find the best solution. This is strategical and perhaps the most important phase of design'}

- var highFiPrototypes = {'outlet': 'high-fi-prototypes', 'itemTitle': 'high-fi Prototypes', 'modalTitle': 'Test on real users', 'src': '/assets/images/portfolio/ux-prototypes.jpg', 'article': 'I produce high-fidelity prototypes to test main software interactions before coding. This significantly saves development time as well'}

- var finestUi = {'outlet': 'finest-ui', 'itemTitle': 'Finest UI', 'modalTitle': 'A visual layer above UX', 'src': '/assets/images/portfolio/finest-ui.jpg', 'article': 'I design visual appearance with tremendous attention to colors, typography and general aesthetic principles. Well documented styleguides are also available on demand'}

- var mobileFirst = {'outlet': 'mobile-first', 'itemTitle': 'Mobile First, please', 'modalTitle': 'Mobile First Design and UX', 'src': '/assets/images/portfolio/mobile-ux-design.jpg', 'article': "Mobile users will dominate in next few years. Let's get in touch and create best mobile experience now"}

- var websitesNeedUx = {'outlet': 'websites-need-ux', 'itemTitle': 'Websites need UX too', 'modalTitle': 'Websites need UX too', 'src': '/assets/images/portfolio/user-experience-for-websites.jpg', 'article': "Even for a 'regular' webpage, you cannot skip UX analysis and wireframing stage. Landing pages with well-executed UX lead to better conversion rates"}

- var portfolioData = [userAnalysis, lowFiWireframes, highFiPrototypes, finestUi, mobileFirst, websitesNeedUx]